@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav a {
    text-decoration: none;
    color: #aaa;
    margin-left: 30px;
}

/* Cambiar color en el hover */
nav a:hover {
    color: orangered;
    border-bottom: solid 1px orangered;
}

section article div {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

section article div h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
}

section article div p {
    font-size: 13px;
    width: 75%;
    line-height: 25px;
    margin-bottom: 30px;
}

/* Clases de utilidad */
.btn {
    background: #CCC;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFF;
}

.text-orange {
    color: #ff3b01;
}

.text-darkgray {
    color: #313243;
}

.text-lightgray {
    color: #AAA;
}

.bg-orange {
    background-color: #ff3b01;
}

.bg-darkgray {
    background-color: #313243;
}

.bg-lightgray {
    background-color: #AAA;
}

/* Agregar fondo */
section#principal {
    height: 100vh;
    background-image: url("yoga.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}